*, *::after, *::before{
    box-sizing: border-box;
}
/*Removes all the margins of all the elements*/
body{
    margin: 0;
}
/*Defines the height and width of the board, aligns all the contents in the center and defines the grid as being 10 by 10*/
.board{
    width:100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(10,auto);
}
/*Defines the size of each cell to be 100 by 100px.  */
.cell{
    width: calc(100vh / 12);
    height: calc(100vh / 12);
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
/*Define the background color of the start cell*/
.cell.start{
    background-color:green ;
}
/*Defines the background color of the end cell*/
.cell.end{
    background-color: red;
}
/*Defines the background color of the wall cell*/
.cell.wall{
    background-color: grey;
}
/*Set the position of the start button to be fixed and moves it 5% down from the top*/
.start-button{
    position: fixed;
    top: 5%;
}
/*Set the position of the three buttons to be fixed*/
.button-group{
    position: fixed;
}




